.gif {
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    text-decoration:  none;
    text-align: center;
    color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.gif:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.gif a {
    color: #2c3e50;
}

.gif a:hover {
    color: #e74c3c;
}

img {
    border-radius: 15px;
    padding: 5px;
}

h1, h2, h3, h4, h5 {
    padding: 10px;
}