.App-content {
  background-color: #170262;
  background-image: linear-gradient(160deg, #170262 14%, #000000 75%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ecf0f1;
  padding-top: 10px;;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.form-control {
  border-radius: 15px;
}
